// .home{
//     height: 93vh;
//     overflow-y: scroll;
// }

.bard-hello {
    font-weight: 500;
    line-height: 2;
    font-size: 22px;
    font-weight: 700;
    color: #202020;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
    color: #263049;
    position: relative;
}
