.footer {

    padding: 40px 0;
    padding-bottom: 15px;
    background-color: #c3c8ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .footer_content{
        .row {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .list-unstyled {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .tree__link {
            display: flex;
            align-items: center;
            gap: 10px;
            i{
            color: #77767c;
            }
        }
        li{
            i{
                color: #77767c;
                padding-right: 5px;
            }
        }
    }
  }
  .footer a {
    color: #343a40;
  }
  .footer a:hover {
    // color: #007bff;
    text-decoration: none;
  }
  .footer .social-icons a {
    margin: 0 10px;
    color: #77767c;
    font-size: 20px;
  }
  .footer .social-icons a:hover {
    // color: #007bff;
    color: #77767c;
  }

  .footer h5 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    // font-weight:  ;
    color: #263049;
  }
  .footer h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #263049;
    // background-color: #007bff;
  }
